<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Agregar o Eliminar Película</title>
</head>

<body>
    <main id="main" class="main">
        <section class="adminSection">
            <h1 class="tituloSection">Asignando Chiqui Coins</h1>
            <form class="formularioProducto" action="/adminMovie" method="POST">
                <div class="formGroup">
                    <label for="usuario_id">Seleccionar estudiante</label>
                    <input list="usuarios" id="usuario_nombre" name="usuario_nombre" required>
                    <input class="hidden" type="hidden" id="usuario_id" name="usuario_id">
                    <datalist id="usuarios">
                        {{#each usuarios}}
                        <option value="{{this.nombre}} {{this.apellido}} ({{this.curso}}° - {{this.colegio}})"
                            data-id="{{this.id}}"></option>
                        {{/each}}
                    </datalist>
                </div>

                <div class="formGroup">
                    <label for="coins_ganados">Coins ganados</label>
                    <input type="number" id="coins_ganados" name="coins_ganados" min="0" value="0" required>
                </div>

                <div class="formGroup">
                    <label for="coins_gastados">Coins gastados</label>
                    <input type="number" id="coins_gastados" name="coins_gastados" min="0" value="0" required>
                </div>

                <div class="formGroup botonGroup">
                    <button type="submit" class="botonEnviar">Asignar</button>
                </div>
            </form>
            <nav class="navegacion">
                <ul class="listaNav">
                    <li class="listaItem"><a class="linkNav administradorPeliculas" href="/profileAdmin/{{id}}">Volver al perfil</a></li>
                    <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminUser">Administrar
                            Estudiantes</a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
</body>
<script>
    document.getElementById('usuario_nombre').addEventListener('input', function () {
        var datalist = document.getElementById('usuarios');
        var selectedOption = Array.from(datalist.options).find(option => option.value === this.value);
        if (selectedOption) {
            document.getElementById('usuario_id').value = selectedOption.getAttribute('data-id');
        }
    });
</script>

</html>