<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main id="main" class="main">
        <section class="adminSection">
            <nav class="navegacion">
                <ul class="listaNav">
                    <li class="listaItem"><a class="linkNav administradorPeliculas" href="/profileAdmin">Volver al
                            perfil</a></li>
                    <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminMovie">Asignar Coins</a>
                    </li>
                    <li class="listaItem"><a class="linkNav administradorPeliculas" href="/detail">Detalle General</a>
                    </li>
                </ul>
            </nav>
            <h1 class="tituloSection">Listado de Usuarios</h1>

            <form action="/adminUser" method="GET" class="formulario">
                <div class="filtroGrupo">
                    <label for="colegio" class="etiqueta">Colegio:</label>
                    <select name="colegio" id="colegio" class="seleccion">
                        <option value="" class="selected">Colegio</option>
                        <option value="Sarmiento">Sarmiento</option>
                        <option value="Thomas Jefferson">Thomas Jefferson</option>
                    </select>
                </div>

                <div class="filtroGrupo">
                    <label for="curso" class="etiqueta">Curso:</label>
                    <select name="curso" id="curso" class="seleccion">
                        <option value="" class="selected">Curso</option>
                        <option value="1">Primero</option>
                        <option value="2">Segundo</option>
                        <option value="3">Tercero</option>
                        <option value="4">Cuarto</option>
                        <option value="5">Quinto</option>
                        <option value="6">Sexto</option>
                    </select>
                </div>

                <div class="filtroGrupo">
                    <button type="submit" class="filtrar">Filtrar</button>
                    <a href="/adminUser" class="quitarFiltro">Quitar filtro</a>
                </div>
            </form>

            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>E-mail</th>
                        <th>Modificar Rol</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usuarios}}
                    <tr>
                        <td>{{apellido}}, {{nombre}}</td>
                        <td class="selectedEmail">{{email}}</td>

                        <td>
                            <form action="/userAdmin/modifyRole/{{id}}" method="POST">
                                <select name="role" class="formUser">
                                    <option value="1" {{#if (role_is_user)}}selected{{/if}}>Estudiante</option>
                                    <option value="2" {{#if (role_is_admin)}}selected{{/if}}>Profesor</option>
                                </select>
                                <br>
                                <button type="submit" class="botonModificar">Modificar</button>
                            </form>
                            <form action="/sendMail/{{id}}" method="POST">
                                <button type="submit" class="botonMail">Enviar E-mail</button>
                            </form>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5">No se encontraron usuarios.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </main>
</body>