<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Detalle de ChiquiCoins</title>
</head>

<body class="main" id="main">
    <nav class="navegacion">
        <ul class="listaNav">
            <li class="listaItem"><a class="linkNav administradorPeliculas" href="/profileAdmin/{{id}}">Volver
                    al perfil</a></li>
            <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminMovie">Asignar Coins</a>
            </li>
            <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminUser">Administrar
                    Estudiantes</a>
            </li>
        </ul>
    </nav>
    <section class="adminSection">
        <h1 class="tituloSection">Detalle de ChiquiCoins</h1>
        <form class="formulario" method="POST" action="/detail">
            <label class="etiqueta" for="colegio">Colegio:</label>
            <select class="seleccion" name="colegio" id="colegio" required>
                <option value="">Colegio</option>
                {{#each colegios}}
                <option value="{{this.colegio}}" {{#if this.selected}}selected{{/if}}>
                    {{this.colegio}}
                </option>
                {{/each}}
            </select>
            <label class="etiqueta" for="curso">Curso:</label>
            <select class="seleccion" name="curso" id="curso" required>
                <option value="">Curso</option>
                {{#each cursos}}
                <option value="{{this.curso}}" {{#if this.selected}}selected{{/if}}>
                    {{this.curso}}
                </option>
                {{/each}}
            </select>
            <button class="filtrar" type="submit">Filtrar</button>
        </form>
        {{#if mostrarMensaje}}
        <p class="mensaje">Totales en Colegio
            {{#each estudiantes}}
            {{#if @first}}{{this.colegio}}{{/if}}
            {{/each}}
        </p>
        <div class="contenedorCartel">
            <div class="cartel dato">
                <p>{{totalEstudiantesColegio}}<br><strong>ESTUDIANTES</strong></p>
            </div>
            <div class="cartel dato">
                <p>{{totalMonedasColegio}}<br><strong>MONEDAS GANADAS</strong></p>
            </div>
        </div>
        {{/if}}

        {{#if estudiantes.length}}
        <p class="mensaje">Totales en
            {{#each estudiantes}}
            {{#if @first}}{{this.curso}}° año{{/if}}
            {{/each}}
        </p>
        <div class="contenedorCartel">
            <div class="cartel dato">
                <p>{{totalEstudiantes}} <br> <strong>ESTUDIANTES</strong></p>
            </div>
            <div class="cartel dato">
                <p>{{totalMonedas}} <br> <strong>MONEDAS GANADAS</strong></p>
            </div>
        </div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th class="selectedEmail">E-mail</th>
                    <th>Coins Ganadas</th>
                    <th>Coins Gastadas</th>
                    <th>Coins Disponibles</th>
                </tr>
            </thead>
            <tbody>
                {{#each estudiantes}}
                <tr>
                    <td>{{this.apellido}}, {{this.nombre}}</td>
                    <td class="selectedEmail">{{this.email}}</td>
                    <td>{{this.monedas_ganadas}}</td>
                    <td>{{this.monedas_gastadas}}</td>
                    <td>{{this.monedas_disponibles}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p class="mensaje">Seleccioná un colegio y un curso para ver los resultados.</p>
        {{/if}}
    </section>
</body>

</html>