<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <main class="mainUserProfile">
        <h1 class="tituloPrincipal">¡Qué alegría encontrarnos por acá! <br> {{ nombre }} {{ apellido }} </h1>
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="/profile/{{id}}">Ir a mi
                        perfil</a></li>
            </ul>
        </nav>
    </main>
    <section data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000"
        class="buscadorPrincipal">
        <section class="main">
            <section data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000"
                class="buscadorPrincipal">
                <h2 class="tituloSection">Tus ChiquiCoins</h2>

                <div class="textData"> {{ nombre }} {{ apellido }} | {{ curso }}° año | Colegio {{ colegio }} </div>

                {{#each coins}}
                <div class="coinInfo">
                    <img src="../images/pages/moneda.png" alt="ChiquiCoin" class="coinIcon">
                    <div>
                        <h4 class="textCoin">
                            Ganados: <span class="coinsEarned">{{ this.coins_ganados }} ₡</span>
                        </h4>
                        <h4 class="textCoin">
                            Gastadas: <span class="spentCoins">{{ this.coins_gastados }} ₡</span>
                        </h4>
                        <h4 class="titleCoin">Disponibles: {{ this.disponibles }} ₡</h4>
                        {{/each}}
                    </div>
            </section>
        </section>
        <br class="separador">
    </section>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var sectionLogin = document.getElementById("sectionLogin");
        var sectionProfileUser = document.getElementById("sectionProfileUser");

        function toggleSections() {
            if (window.location.pathname === '/login') {
                sectionLogin.classList.remove('hidden');
                sectionProfileUser.classList.add('hidden');
            } else {
                sectionLogin.classList.add('hidden');
                sectionProfileUser.classList.remove('hidden');
            }
        }

        toggleSections();
        window.addEventListener('popstate', toggleSections);
    });
</script>

<script>
    $(document).ready(function () {
        $('.buscadorPeliculas').submit(function (event) {
            event.preventDefault();

            var nombre = $('#buscar').val();

            $.get('/buscar-pelicula', { nombre: nombre }, function (data) {
                $('.resultadosBusqueda').html(data);
            });
        });
    });
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<style>
    .return {
        background-color: #007bff;
        margin-bottom: 10px;
        color: #ffffff;
    }


    .return:hover {
        opacity: 0.8;
        background-color: #007bff;
    }
</style>

</html>